Source: ros-dashing-gtest-vendor
Section: misc
Priority: extra
Maintainer: Dirk Thomas <dthomas@osrfoundation.org>
Build-Depends: debhelper (>= 9.0.0), cmake
Homepage: 
Standards-Version: 3.9.2

Package: ros-dashing-gtest-vendor
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, 
Description: The package provides GoogleTest.
